In [1]:
import pandas as pd
import numpy as np
import glob
import re

Citation: 'Suggested citation: Pan American Health Organization / World Health Organization. Zika suspected and confirmed cases reported by countries and territories in the Americas Cumulative cases, 2015-2016. Updated as of 23 November 2016. Washington, D.C.: PAHO/WHO; 2016; Pan American Health Organization • www.paho.org • © PAHO/WHO, 2016'

In [3]:
pwd

'/Users/Lupine/Documents/Projects/DS4A/Projecting Infectious Disease 139'

In [4]:
filepath = r'/Users/Lupine/Documents/Projects/DS4A/Projecting Infectious Disease 139/paho zika'
all_files = glob.glob(filepath + "/*.xls")

li = []

for filename in all_files:
    df = pd.read_excel(filename, header=6)
#     len('/Users/Lupine/Documents/Projects/DS4A/Projecting Infectious Disease 139/paho zika/')
    date = filename[82:]
    date = date[:11]
    df = df.iloc[:,:12]
    df.columns=['Country/Territory', 'Suspected', 'Confirmed'
                    , 'Imported Cases' , 'Incidence Rate'
                    , 'Zika Case Deaths' , 'Zika Congenital Syndrome'
                    , 'Population x1000e', 'Congenital Suspected'
                    , 'Congenital Probable', 'GBS',
                    'Confirmed congenital syndrome']
    df['Date'] = date
    df = df.dropna(thresh=5)
    li.append(df)

In [5]:
zika16to18 = pd.concat(li).reset_index()

In [6]:
Date = zika16to18['Date'].str.split(r"\-", n=2, expand=True)
Date.columns=['Year','Month','Day']
Date['Day'] = Date['Day'].str.replace('-','')
Date['Month'] = Date['Month'].str.replace('ago','aug').replace('June','jun')
zika16to18 = zika16to18.join(Date)
zika16to18['Date'] = pd.to_datetime(zika16to18['Year'].astype(str) + zika16to18['Month'] + zika16to18['Day'].astype(str), format='%Y%b%d')
zika16to18 = zika16to18.sort_values(by='Date').reset_index().iloc[:,1:]

In [7]:
zika16to18

,index,Country/Territory,Suspected,Confirmed,Imported Cases,Incidence Rate,Zika Case Deaths,Zika Congenital Syndrome,Population x1000e,Congenital Suspected,Congenital Probable,GBS,Confirmed congenital syndrome,Date,Year,Month,Day
0,0,NaN,Suspected,Confirmed,NaN,NaN,NaN,NaN,X 1000e,Suspected,Probable,Total,Confirmed,2016-11-17,2016,nov,17
1,40,Paraguay,546,12,0.0,8.297398,0.0,2.0,6725,NaN,NaN,NaN,NaN,2016-11-17,2016,nov,17
2,41,Uruguay,0,0,1.0,0.000000,0.0,0.0,344,NaN,NaN,NaN,NaN,2016-11-17,2016,nov,17
3,42,Subtotal,2367,38,57.0,3.483084,0.0,3.0,69048,0,0,0,0,2016-11-17,2016,nov,17
4,44,Anguilla,40,5,1.0,264.705882,0.0,0.0,17,NaN,NaN,NaN,NaN,2016-11-17,2016,nov,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3715,35,Subtotal,172905,17073,41.0,136.072772,0.0,276.0,139615,195,216,417,0,2017-12-21,2017,dec,21
3716,36,Brazil17,231725,137288,0.0,176.095308,11.0,2952.0,209553,9289,2989,NaN,NaN,2017-12-21,2017,dec,21
3717,38,Argentina18,539,278,41.0,1.854290,0.0,5.0,44060,NaN,NaN,NaN,NaN,2017-12-21,2017,dec,21
3718,3,Canada,0,0,544.0,0.000000,0.0,1.0,36284,0,0,0,0,2017-12-21,2017,dec,21
3719,4,United States of America1,0,226,5324.0,0.069475,0.0,98.0,325296,0,0,0,7,2017-12-21,2017,dec,21